*.log
*.pid
/install
.DS_Store
env
docs/build
packages
jami_*.tar.gz
Makefile.packaging.distro_targets
repositories
tarballs.manifest
manual-download
.docker-image-*
.tarball-version
.idea/

# QtCreator
/build-*
