[submodule "client-android"]
	path = client-android
	url = https://gerrit-ring.savoirfairelinux.com/ring-client-android
[submodule "client-gnome"]
	path = client-gnome
	url = https://gerrit-ring.savoirfairelinux.com/ring-client-gnome
[submodule "client-windows"]
	path = client-windows
	url = https://gerrit-ring.savoirfairelinux.com/ring-client-windows
[submodule "daemon"]
	path = daemon
	url = https://gerrit-ring.savoirfairelinux.com/ring-daemon
[submodule "lrc"]
	path = lrc
	url = https://gerrit-ring.savoirfairelinux.com/ring-lrc
[submodule "client-macosx"]
	path = client-macosx
	url = https://gerrit-ring.savoirfairelinux.com/ring-client-macosx
[submodule "ring-client-ios"]
	path = ring-client-ios
	url = https://gerrit-ring.savoirfairelinux.com/ring-client-ios
