[submodule "client-android"]
	path = client-android
	url = https://review.jami.net/ring-client-android
[submodule "client-gnome"]
	path = client-gnome
	url = https://review.jami.net/ring-client-gnome
[submodule "daemon"]
	path = daemon
	url = https://review.jami.net/ring-daemon
[submodule "lrc"]
	path = lrc
	url = https://review.jami.net/ring-lrc
[submodule "client-macosx"]
	path = client-macosx
	url = https://review.jami.net/ring-client-macosx
[submodule "client-ios"]
	path = client-ios
	url = https://review.jami.net/ring-client-ios
[submodule "client-qt"]
	path = client-qt
	url = https://review.jami.net/jami-client-qt
[submodule "plugins"]
	path = plugins
	url = https://review.jami.net/jami-plugins
