[submodule "client-android"]
	path = client-android
	url = https://review.jami.net/jami-client-android
[submodule "daemon"]
	path = daemon
	url = https://review.jami.net/jami-daemon
[submodule "lrc"]
	path = lrc
	url = https://review.jami.net/jami-libclient
[submodule "client-macosx"]
	path = client-macosx
	url = https://review.jami.net/jami-client-macos
[submodule "client-ios"]
	path = client-ios
	url = https://review.jami.net/jami-client-ios
[submodule "client-uwp"]
	path = client-uwp
	url = https://review.jami.net/jami-client-uwp
[submodule "client-qt"]
	path = client-qt
	url = https://review.jami.net/jami-client-qt
[submodule "plugins"]
	path = plugins
	url = https://review.jami.net/jami-plugins
[submodule "lrc-gnome"]
	path = lrc-gnome
	url = https://review.jami.net/jami-libclient
