[access]
	inheritFrom = ring
[project]
	description = Ring - http://www.ring.cx/\n\
An all-in-one repository to obtain all Ring sources.
[submit]
	action = rebase if necessary
[access "refs/heads/*"]
	label-Verified = -1..+1 group Administrators
	label-Verified = -1..+1 group Core Developers
	push = +force group Release
	pushMerge = group Release
[access "refs/heads/integration"]
	push = +force group Release
	pushMerge = group Release
	forgeAuthor = group Release
	forgeCommitter = group Release
	owner = group Release
	create = group Release
	submit = group Release
	read = group Release
	abandon = group Release
	forgeServerAsCommitter = group Release
	pushTag = +force group Release
	pushSignedTag = group Release
	label-Code-Review = -2..+2 group Release
	label-Verified = -1..+1 group Release
	labelAs-Code-Review = -2..+2 group Release
	labelAs-Verified = -1..+1 group Release
	rebase = group Release
	removeReviewer = group Release
	submitAs = group Release
	viewDrafts = group Release
	editTopicName = +force group Release
	editHashtags = group Release
	deleteDrafts = group Release
	publishDrafts = group Release
[access "refs/for/refs/heads/integration"]
	push = group Release
