[access]
	inheritFrom = ring
[project]
	description = Ring - http://www.ring.cx/\n\
An all-in-one repository to obtain all Ring sources.
[submit]
	action = rebase if necessary
[access "refs/heads/*"]
	label-Verified = -1..+1 group Administrators
	label-Verified = -1..+1 group Core Developers
[access "refs/heads/integration"]
	push = group Release
	pushMerge = group Release
	forgeAuthor = group Release
	forgeCommitter = group Release
	owner = group Release
	create = group Release
	submit = group Release
